<div id="page-content">
    <div class="container" id="home-container">
        <div id="home-container-inside" class="container-fluid rounded bg-dark text-center text-white p-5 ">
            <div class="container p-5">
                <h1 class="display-4">Welcome to Alpha Blog</h1>
                <hr>
                <a href="#" class="btn btn-success">Sign up!</a>
            </div>
        </div>
    </div>
</div>

<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Mauricio Magnani", "https://github.com/msmagnanijr/ruby-and-rails-playground", class: "text-white" %></small>
    </div>
</footer>